
/* Css for our login display */
.loginDisplay{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 100px;
  padding-left: 400px;
  object-position: center;
  position: relative;
}

.loginDisplay > form{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.loginDisplay > form > input{
  width: 350px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.loginDisplay > form > button{
  width: 375px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.loginDisplay > form > p{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 110px;
}

.loginDisplay > img{
  object-fit: contain;
  object-position: left;
  height: 400px;
}

.loginClose{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.Register{
  color: #0177b7;
  cursor: pointer;
  padding-left: 5px;
}

