/*Css for the background of our login page*/
.display::before{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    content: ' ';
    opacity: 0.4;
   /* background-image: url("https://wallpaperaccess.com/full/1836085.jpg");*/
    background-color: #CAE9FF;
   /* background-position: 50% 0;*/
    background-size: cover;
}
